.collab-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; /* Hide the overflow content */
  }
  
  .collab-section h2 {
    padding: 30px;
    width: 100%;
    text-align: center;
  }
  
  .collaborators {
    display: flex;
    overflow: hidden; /* Hide the overflowing content */
    white-space: nowrap; /* Prevent wrapping */
    width: 100%; /* Make sure it spans full width */
    padding-bottom: 30px;
    justify-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .collab-card {
    margin-left: 20px;
    height: 100px;
    border-radius: 20px;
  }
  #geek-room{
    background-image: url("../../assets/images/GeekRoom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
  }
  #coding-ninjas{
    background-image: url("../../assets/images/cn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
  }
  #pandora{
    background-image: url("../../assets/images/pandora.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
  }
  #crypto-connect{
    background-image: url("../../assets/images/cn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
  
  }